/* Login.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/agri1.webp');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    width: 400px; /* Adjust the width as needed */
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #8DBF67;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-label {
    font-weight: bold;
    color: #8DBF67;
  }
  
  .form-control {
    border: 1px solid #8DBF67;
  }
  
  .btn-secondary {
    background-color: #333;
    color: #fff;
  }
  
  .btn-primary,
  .btn-success {
    background-color: #8DBF67;
    color: #fff;
    border: none;
  }
  
  .link-button {
    color: #8DBF67;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .alert {
    margin-top: 10px;
    padding: 10px;
    background-color: #F8D7DA;
    border: 1px solid #D6D8D9;
    border-radius: 5px;
    color: #721C24;
  }
  